"id","identifier","slug.de","title.de","subpages"
1,"home","","Home","[]"
999,"not-found","","NotFound","[]"
2,"explore","explore-de","Explore","[]"
3,"qr","qr-de","Qr","[]"
4,"list","list-de","List","[]"
5,"menu","menu-de","Menu","[6,7,8,9]"
6,"intro","intro-de","Intro","[]"
7,"about","about-de","Infos zum Projekt","[]"
8,"help", "help-de","Hilfe","[10,11,12,13,14,15,16]"
9,"imprint","imprint-de","Impressum","[]"
10,"faq-1","faq-1-de","Ich kann die Kameraansicht nicht starten.","[]"
11,"faq-2","faq-2-de","Mein GPS Standort wird nicht erkannt.","[]"
12,"faq-3","faq-3-de","Lorem ipsum faq 1","[]"
13,"faq-4","faq-4-de","Lorem ipsum faq 2","[]"
14,"faq-5","faq-5-de","Lorem ipsum faq 3","[]"
15,"faq-6","faq-6-de","Lorem ipsum faq 4","[]"
16,"faq-7","faq-7-de","Lorem ipsum faq 5","[]"